/** code by webdevtrick ( https://webdevtrick.com ) **/
html {
  display: grid;
  min-height: 100%;
}

 
body {
  display: grid;
  background: rgb(131, 130, 130);
}
 
.main {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 850px;
  height: 180px;
}
 
h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 2em;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #F6F4F3;
}
h1 sup {
text-transform: lowercase;
color: #FF3E41;
}
 
#countdown {
  color: #F6F4F3;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  letter-spacing: 5px;
  margin-top: 5%;
}
 
.days, .hours, .minutes, .seconds, .left {
  display: inline-block;
  padding: 20px;
  width: 150px;
  border-radius: 10px;
}
 
.days {
  background: #D87200;
}
 
.hours {
  background:  #FF3E41;
}
 
.minutes {
  background: #FFB20C;
}
 
.seconds {
  background:  #2186FF;
}
 
.left {
background: #E10A0A;
}
.c-number {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 3em;
}